@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #fff;
  background-color: #13161c;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  min-height: 100svh;
  z-index: 1;
  overflow-x: hidden;

}

body::before {
  content: "";
  position: absolute;
  top: -50px;
  left: -50px;
  right: -50px;
  width: calc(100% + 100px);
  height: 100svh;
  background-color: #13161c;
  background-image: radial-gradient(37.88% 68.62% at 50% 0, rgba(10,233,138, .3) 0, rgba(0,124,71,0) 80%), radial-gradient(10% 10% at 50% 0, rgba(10,233,138, .5) 0, rgba(0,124,71, .4) 90%, rgba(0,124,71,0) 0), radial-gradient(100% 28.09% at 100% 10%, rgba(10,233,138, .2) 0, rgba(0,124,71, .1) 80%, rgba(0,124,71,0) 100%), linear-gradient(180deg, rgba(0,124,71, .075) 35.79%, rgba(0,124,71, .05) 80%, #13161c), radial-gradient(74.84% 135.56% at 100% 10%, rgba(0,124,71, .5) 0, #13161c 80%);
  background-repeat: no-repeat;
  background-size: 220%;
  filter: blur(50px);
  z-index: -2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #13161c;
  z-index: -3;
}




